<div class="login">
    <h1 class="login__title">Sign In</h1>
    <form (ngSubmit)="onSubmit()">

    <div class="login__group">
      <input class="login__group__input" type="text" [(ngModel)]="Email" name="Email" email required />
      <label class="login__group__label"  >Email or phone number</label>
    </div>
    <div class="login__group">
      <input class="login__group__input" type="password" [(ngModel)]="password" name="password" required  />
      <label class="login__group__label" >Password</label>
    </div>
    <button class="login__sign-in" type="submit" >Sign In</button>
</form>

    <div class="login__secondary-cta">
      <a class="login__secondary-cta__text" [routerLink]="['/login']">Remember me</a>
      <a class="login__secondary-cta__text login__secondary-cta__text--need-help" >Need help?</a>
    </div>

  </div>
  